<% include ../layout/header %>

    <!-- Include the above in your HEAD tag -->

    <!-- no additional media querie or css is required -->
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
            <h3>Seja Bem Vindo,
                <span style="font-size: 14px">
                    <%- usuario.nome %>
                </span>
            </h3>
            <hr>
            <a class="btn pull-right btn-danger " href="/logout"> Sair</a> 
            </div>
            <div class="col-sm-8 contact-form">
                <form action="/contatos/<%- id %>" method="post" class="form">
                    <input type="hidden" name="_method" value="delete">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                        <p><label>Nome:</label><%- contato.nome %></p>
                        <p><label>E-mail:</label><%- contato.email %></p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 ">
                            <a href="/contatos/<%- id %>/excluir" class="btn btn-danger pull-right" >Excluir</a>
                        </div>
                        <div class="col-xs-12 col-md-12 ">
                            <a href="/contatos/<%- id %>/editar" class="btn btn-primary pull-right" >Editar</a>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>

    <% include ../layout/footer %>